<h3>Užregistruoti į {{competition.Name}} varžybas, kurios vyks {{competition.Date}}, {{competition.Club}}</h3>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <form role="form" style="max-width: 500px;">
            <strong class="error">{{ error }}</strong>
            <div class="form-group radio">
                <label>
                    <input type="radio" ng-model="competitor.Group" value="PRO" />PRO
                </label><br />
                <label>
                    <input type="radio" ng-model="competitor.Group" value="MEGĖJAI" />MEGĖJAI
                </label><br />
            </div>
            <a href="#/calendar" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span>  Grįžti atgal</a>
            <button class="btn btn-success" ng-click="add()"><span class="glyphicons glyphicons-ok-sign"></span>  Išsaugoti</button>
        </form>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>