<h2>
    VARŽYBŲ INFORMACIJA.
    {{competition.Name}}
</h2>
<br>
<td>
    <a href="#/competitionOrg" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span>  Grįžti atgal</a>
    <a href="#/nonPaidClim" ng-hide="!competition.Type" type="button" class="btn btn-info">Mokėjimas dalyviams</a>
    <a href="#/nonPaidKKT" ng-hide="competition.Type" type="button" class="btn btn-info">Mokėjimas komandoms</a>
</td>

<br> <br>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div>
            <div class="form-group">
                <label for="name">
                    Pavadinimas
                </label>
                <input type="text" class="form-control" id="name" ng-model="competition.Name" />
            </div>
            <div class="form-group">
                <label for="date">
                    Varžybų data:
                </label>
                <input type="date" class="form-control" id="date" ng-model="competition.Date" />
            </div>
            <div class="form-group">
                <label for="mainjudge">
                    Vyr. Teisėjas:
                </label>
                <select ng-options="userClub.Id as userClub.Name2 for userClub in usersClubList" ng-model="competition.MainJudgeId"></select>
            </div>
            <div class="form-group">
                <label for="mainroutecreator">
                    Vyr. Trasų statytojas:
                </label>
                <select ng-options="userClub.Id as userClub.Name2 for userClub in usersClubList" ng-model="competition.MainRouteCreatorId"></select>
            </div>
            <button ng-hide="!competition.Update" title="Redaguoti" class="btn btn-info" style="padding: 10px 12px" ng-click="updateCompInfo()"> <span class="glyphicon glyphicon-check"></span>  Išsaugoti</button>
        </div>
        <p ng-hide="competition.Type">____________________________________________________________________________________________________</p>
        <a href="#/addKKTRoute" ng-hide="competition.Type" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>  Nauja trasa</a>
        <table ng-hide="competition.Type" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Taškai</th>
                    <th>Laikas</th>
                    <th>Grupė</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="route in routeList">
                    <td> {{ route.Name }} </td>
                    <td> {{ route.Points }} </td>
                    <td> {{ route.Time }}</td>
                    <td> {{ route.Type}}</td>
                    <td>
                        <button title="Naikinti" class="btn btn-danger" style="padding: 10px 12px" ng-click="deleteKKTRoute(route.Id)"><span class="glyphicon glyphicon-remove"></span></button>
                        <button title="Redaguoti" class="btn btn-info" style="padding: 10px 12px" ng-click="updateKKTRoute(route.Id)"> <span class="glyphicon glyphicon-edit"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>____________________________________________________________________________________________________</p>
        <br />
        <h3 ng-hide="noJudges">Nėra užregistruotų teisėjų!!!</h3>
        <br />
        <label for="club">
            Teisėjas:
        </label>
        <select ng-options="user.Id as user.Name2 for user in userList" ng-model="newJudge"></select>
        <button type="button" class="btn btn-success" style="padding: 10px 12px" ng-click="addJudge()"><span class="glyphicon glyphicon-plus"></span></button>
        <br />
        <table ng-hide="!noJudges" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Teisėjas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="judge in judgesList">
                    <td> {{ judge.JudgeName }} </td>
                    <td>
                        <button class="btn btn-danger" style="padding: 10px 12px" ng-click="deleteJudge(judge.Id)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
