<h2>
    Varžybų organizatorių erdvė
</h2>
<br>
<td>
    <a href="#/addCompetition" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>  Naujos varžybas</a>
    <a ng-hide="!KKTOrg" href="#/penalties" type="button" class="btn btn-info">Baudų sąrašas</a>
    
</td>

<br> <br>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Data</th>
                    <th>Vieta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="competition in competitionList">
                    <td> {{ competition.Name }} </td>
                    <td> {{ competition.Date2 }} </td>
                    <td> {{ competition.Club }} </td>
                    <td>
                        <button type="button" class="btn btn-info" ng-click="getCompInfo(competition.Id)"><span class="glyphicon glyphicon-list"></span> Informacija</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
