<head>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <style>
        b {
            font-family: 'Abel';
            font-size: 22px;
        }
      
    </style>
</head>
<div class="container">
    <nav class='navbar navbar-inverse'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-align-justify" style="color:white"></span>
            </button>
            <b class="navbar-brand" [routerLink]="['home']">CLIMB</b>
        </div>
        <div class='collapse navbar-collapse navbar-ex1-collapse'>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['home']">Home</a></li>
                <li><a [routerLink]="['account']">Mano profilis</a></li>
                <li><a [routerLink]="['admin']">Admin</a></li>
                <li><a [routerLink]="['calendar']">Kalendorius</a></li>
                <li><a [routerLink]="['calendarORG']">Varžybos ORG</a></li>
                <li><a [routerLink]="['penalty']">Baudų administravimas</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>