<div class="row">

</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Prisijungti</h2>
        <p class="text-primary">Jau turint užregsitruotą vartotoją.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Prisijungti &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registracija</h2>
        <p class="text-primary">Norint užsiregistruoti ir susikurti vartotoją.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Registruotis &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>