

<div class="container" ng-controller="penaltyController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                Baudų administravimas
            </h3>
            <hr />
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addNew" ng-click="OpenModal()">Pridėti naują</button> <br />
            <div id="addNew" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="text-info">Pridėti naujos baudos informaciją.</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="AddNewForm">
                                <div class="form-group">

                                    <input class="form-control" readonly="readonly" name="Id" ng-model="Id" type="hidden" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-info"> Pavadinimas*</label>
                                    <input class="form-control" name="Name" ng-model="Name" type="text" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-info"> Taškai*</label>
                                    <input class="form-control" name="Points" ng-model="Points" type="number" required />
                                </div>
                            </form>
                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                            <button type="button" class="btn btn-success" id="btnSave" data-dismiss="modal" ng-click="add(penalty)">Išsaugoti</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <table class="table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Pavadinimas</th>
                            <th>Taškai</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="penalty in penalties">
                            <td> {{penalty.Id}}</td>
                            <td> {{ penalty.Name }} </td>
                            <td> {{ penalty.Points }} </td>
                            <td>
                                <button title="Redaguoti" class="btn btn-info" data-toggle="modal" data-target="#Update" ng-click="get(penalty.Id)"> <span class="glyphicon glyphicon-edit"></span></button>
                                <button title="Naikinti" class="btn btn-danger" id="btnDelete" data-toggle="modal" data-target="#Delete" ng-click="get(penalty.Id)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>

            <div class="modal" id="Update" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="text-info">Atnaujinti baudos informaciją.</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="UpdateForm">
                                <div class="form-group">

                                    <input class="form-control" readonly="readonly" name="Id" ng-model="UpdateId" type="hidden" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-info"> Pavadinimas*</label>
                                    <input class="form-control" name="Name" ng-model="UpdateName" type="text" required />
                                </div>
                                <div class="form-group">
                                    <label class="text-info"> Taškai*</label>
                                    <input class="form-control" name="Points" ng-model="UpdatePoints" type="number" required />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                            <button type="button" class="btn btn-success" id="btnSave" data-dismiss="modal" ng-click="update(UpdateId, penalty)">Išsaugoti</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="Delete" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="text-info">Ar tikrai norite ištrinti šią baudą?</h3>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p>Pavadinimas: {{UpdateName}}</p>
                                <p>Taškai:{{UpdatePoints}}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                            <button type="button" class="btn btn-success" id="btnSave" data-dismiss="modal" ng-click="delete(UpdateId)">Ištrinti</button>
                        </div>
                    </div>
                </div>
            </div>
            <div/>
        </div>
