<h3>Atnaujinti baudos informaciją</h3>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <form role="form" style="max-width: 500px;">
            <strong class="error">{{ error }}</strong>
               <input type="text" class="form-control" placeholder="Pavadinimas" id="name" ng-model="penalty.Name" />
               <input type="text" class="form-control" placeholder="Taškai" id="points" ng-model="penalty.Points" />
            <a href="#/penalties" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span>  Grįžti atgal</a>
            <button class="btn btn-success" ng-click="update(penalty.Id)"><span class="glyphicons glyphicons-ok-sign"></span>  Išsaugoti</button>
        </form>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>