<div class='panel panel-primary'>
    <div class='panel-heading'>
        Baudų administravimas
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addPenalty()">Pridėti naują</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /></div>
            <div *ngIf='penalties && penalties.length==0' class="alert alert-info" role="alert">Šiuo metu nėra užregistruotų baudų!</div>
            <table class='table table-striped' *ngIf='penalties && penalties.length'>
                <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Taškai</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let penalty of penalties">
                        <td>{{penalty.Name}}</td>
                        <td>{{penalty.Points}}</td>
                        <td>
                            <button title="Redaguoti" class ="btn btn-info"> <span class="glyphicon glyphicon-edit" (click)="editPenalty(penalty.Id)"></span></button>
                            <button title="Naikinti" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"  (click)="deletePenalty(penalty.Id)"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(penaltyFrm)" [formGroup]="penaltyFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div>
                    <span>Pavadinimas*</span>
                    <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                </div>
                <div>
                    <span>Taškai*</span>
                    <input type="text" class="form-control" placeholder="Points" formControlName="Points">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <button title="Atšaukti" class="btn btn-danger"> <span class="glyphicon glyphicon-remove" (click)="modal.dismiss()"></span></button>
                <button type="submit" [disabled]="penaltyFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>